:root {
  --primary-400: #2fb2d0;
  --neutral-100: #121212;
  --neutral-200: #242424;
  --neutral-300: #404040;
  --neutral-400: #636363;
  --neutral-500: #7E7E7E;
  --neutral-600: #9A9A9A;
  --neutral-700: #B5B5B5;
  --neutral-800: #D0D0D0;
  --neutral-900: #EBEBEB;
  --side-padding: 5vw;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: var(--neutral-900);
  background: var(--neutral-200);
}

header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  padding: 22px var(--side-padding);
  background-color: var(--neutral-200);
}

@media only screen and (min-width: 426px) {
  header {
    margin-bottom: 124px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    margin-bottom: 62px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    --side-padding: 15vw;
  }
}

@media only screen and (min-width: 1440px) {
  header {
    --side-padding: 20vw;
  }
}

section {
  padding-top: 70px;
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);
}

section:last-child {
  padding-bottom: 60px;
}

@media only screen and (min-width: 426px) {
  section {
    padding-top: 90px;
    --side-padding: 8vw;
  }
}

@media only screen and (min-width: 768px) {
  section {
    padding-top: 120px;
    --side-padding: 10vw;
  }
  section:last-child {
    padding-bottom: 120px;
  }
}

@media only screen and (min-width: 1024px) {
  section {
    --side-padding: 15vw;
  }
}

@media only screen and (min-width: 1440px) {
  section {
    --side-padding: 20vw;
  }
}

h1 {
  font-size: clamp(3em, 14vw, 4.5em);
}

h2 {
  font-size: clamp(2.25em, 8vw, 3em);
  margin: 0 0 32px;
  text-align: center;
}

@media only screen and (min-width: 426px) {
  h2 {
    margin-bottom: 40px;
  }
}

h3 {
  font-size: clamp(1.875em, 4.5vw, 2em);
  margin: 16px 0;
}

@media only screen and (min-width: 426px) {
  h3 {
    margin-bottom: 24px;
  }
}

p {
  font-size: 1.125em;
}

h2,
h3 {
  color: var(--primary-400);
}

h1,
h2,
h3,
p {
  font-weight: 300;
  line-height: 150%;
}

button {
  cursor: pointer;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 830px;
  margin: 0 auto;
}

.nav__open-btn {
  width: 45px;
  height: 45px;
  border: 0;
  background-color: transparent;
  background-image: url("../../assets/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.title-container {
  position: relative;
  bottom: 150px;
  margin: 0 auto;
}

.title-container h1 {
  margin: 0 0 18px;
  text-align: center;
}

.title-container p {
  margin: 0;
  text-align: center;
}

.intro__body {
  max-width: 70ch;
  margin: 0 auto;
  text-align: center;
}

.button-link {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 48px;
  -webkit-transition: background-color 0.3s ease-in, bottom 0.2s ease-in, -webkit-box-shadow 0.3s ease-in, -webkit-backdrop-filter 0.3s ease-in;
  transition: background-color 0.3s ease-in, bottom 0.2s ease-in, -webkit-box-shadow 0.3s ease-in, -webkit-backdrop-filter 0.3s ease-in;
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in, backdrop-filter 0.3s ease-in, bottom 0.2s ease-in;
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in, backdrop-filter 0.3s ease-in, bottom 0.2s ease-in, -webkit-box-shadow 0.3s ease-in, -webkit-backdrop-filter 0.3s ease-in;
  text-align: center;
  text-decoration: none;
  color: var(--neutral-900);
  border: 1px solid var(--neutral-900);
  background-color: transparent;
}

.button-link:hover {
  bottom: 2px;
  background-color: var(--neutral-400);
  -webkit-box-shadow: 0 4px 4px #7f7f7f3d;
          box-shadow: 0 4px 4px #7f7f7f3d;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

.button-link:active {
  bottom: -2px;
  background-color: var(--neutral-300);
  -webkit-box-shadow: inset 0 4px 4px var(--neutral-200);
          box-shadow: inset 0 4px 4px var(--neutral-200);
}

.project {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-bottom: 38px;
}

.project:last-child {
  margin-bottom: 0;
}

.project__image {
  width: 100%;
  height: 134px;
  margin-bottom: 16px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__heading {
  margin: 0 0 8px;
}

.project__date {
  margin: 0 0 16px;
  text-align: left;
}

.project__divider {
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
  border-radius: 2px;
  background-color: var(--neutral-500);
}

.project__description {
  margin: 0 0 24px;
}

.project__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.project__links > *:first-child {
  margin-bottom: 16px;
}

.project__links > * {
  width: 50%;
}

@media only screen and (min-width: 600px) {
  .project {
    margin-bottom: 64px;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
  .project__image {
    max-width: 200px;
    height: 100%;
    margin: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .project__heading {
    margin-bottom: 16px;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .project__date {
    margin-bottom: 16px;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .project__divider {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin-bottom: 0;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .project__description {
    margin-top: 24px;
    -ms-grid-row: 4;
    grid-row: 4;
    grid-column: 1 / -1;
  }
  .project__links {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row: 5;
    grid-row: 5;
    grid-column: 1 / -1;
  }
  .project__links > *:first-child {
    margin: 0 24px 0 0;
  }
  .project__links > * {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media only screen and (min-width: 1024px) {
  .project {
    margin-bottom: 64px;
  }
  .project__image {
    max-width: 280px;
    height: 100%;
    margin: 0;
    grid-row: 1 / -1;
  }
  .project__heading {
    margin-bottom: 8px;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .project__date {
    margin-bottom: 12px;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .project__divider {
    margin-bottom: 12px;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .project__description {
    margin-top: 0;
    margin-bottom: 24px;
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .project__links {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.skills-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 550px;
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none;
  --gap: 16px;
}

.skills-ul li {
  font-size: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: var(--gap);
  margin-bottom: var(--gap);
  padding: 6px 18px;
  -webkit-transition: padding 0.4s ease-in;
  transition: padding 0.4s ease-in;
  text-align: center;
  color: var(--neutral-100);
  border-radius: 20px;
  background-color: var(--primary-400);
}

.skills-ul li:last-child {
  margin: 0;
}

.skills-ul li:hover {
  padding-right: 32px;
  padding-left: 32px;
}

@media only screen and (min-width: 426px) {
  .skills-ul li {
    font-size: 1.125em;
  }
}

@media only screen and (min-width: 768px) {
  .skills-ul {
    --gap: 32px;
  }
}

.color-primary {
  color: var(--primary-400);
}

.flex-row-justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
