:root {
    --background: #121212;
    --primary: #2fb2d0;
    --text-light: #d9d9d9;
    --text-dark: #2e2e2e;
}

// *********************************************************
// Base
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 32px var(--side-padding) 64px;
    color: var(--text-light);
    background: var(--background);
    --side-padding: 10vw;
    @media only screen and (min-width: 1024px) {
        --side-padding: 15vw;
    }

    @media only screen and (min-width: 1440px) {
        --side-padding: 20vw;
    }
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 64px;
    @media only screen and (min-width: 426px) {
        margin-bottom: 124px;
    }

    @media only screen and (min-width: 768px) {
        margin-bottom: 62px;
    }
}

section {
    margin-bottom: 64px;
    &:last-child {
        margin-bottom: 0;
    }

    @media only screen and (min-width: 426px) {
        margin-bottom: 96px;
    }

    @media only screen and (min-width: 768px) {
        margin-bottom: 124px;
    }
}

h1 {
    font-size: clamp(3em, 14vw, 4.5em);
    font-weight: 300;
    line-height: 150%;
    margin: 0 32px 16px 0;
}

h2 {
    font-size: clamp(2.25em, 8vw, 3em);
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 24px;
    text-align: center;
    @media only screen and (min-width: 426px) {
        margin-bottom: 40px;
    }
}

h3 {
    font-size: clamp(1.5em, 4.5vw, 2em);
    font-weight: 300;
    line-height: 150%;
    margin: 16px 0;
    text-align: center;
    @media only screen and (min-width: 426px) {
        margin-bottom: 24px;
    }
}

p {
    font-size: 1.125em;
    line-height: 150%;
    max-width: 50ch;
    margin: 1em auto;
    text-align: center;
}

// *********************************************************
// Utility
.color-primary {
    color: var(--primary);
}

.subtitle {
    font-size: clamp(1.25em, 4.25vw, 2.25em);
    font-weight: 300;
    margin: 0;
    text-align: left;
    @media only screen and (min-width: 426px) {
        line-height: 42.19px;
    }
}

.github-link {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    text-decoration: none;
    color: var(--text-light);
    &__icon {
        font-size: 64px;
    }
    &__cover {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 12px;
        width: 44px;
        height: 100%;
        background-color: var(--background);
    }
    &__icon,
    &__cover {
        transition: transform 0.5s ease-out;
    }
    &__text {
        position: absolute;
        z-index: -2;
        top: 35%;
        left: 14px;
        padding: 2px 6px;
        transition: left 0.5s ease-out, opacity 0.5s ease-out;
        opacity: 0;
        color: var(--text-dark);
        border-radius: 0 8px 8px 0;
        background-color: var(--text-light);
    }

    &:hover,
    &:focus {
        .github-link {
            &__icon,
            &__cover {
                transform: translateX(-56px);
            }
            &__text {
                left: 0;
                opacity: 1;
            }
        }
    }
}

.focus-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.focus {
    max-width: 350px;
    margin-bottom: 48px;
    &:last-child {
        margin-bottom: 0;
    }

    span.material-icons {
        font-size: clamp(75px, 10vw, 100px);
        display: block;
        text-align: center;
    }
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    margin-bottom: 48px;
    &:last-child {
        margin-bottom: 0;
    }
}

.skills-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 550px;
    margin: 0 auto;
    padding-left: 0;
    list-style-type: none;
    --gap: 16px;
    li {
        font-size: 1em;
        height: fit-content;
        margin-right: var(--gap);
        margin-bottom: var(--gap);
        padding: 6px 18px;
        transition: padding 0.4s ease-in;
        text-align: center;
        color: var(--text-dark);
        border-radius: 20px;
        background-color: var(--primary);
        &:last-child {
            margin: 0;
        }

        &:hover {
            padding-right: 32px;
            padding-left: 32px;
        }
    }

    @media only screen and (min-width: 426px) {
        li {
            font-size: 1.125em;
        }
    }

    @media only screen and (min-width: 768px) {
        --gap: 32px;
    }
}
