html {
    scroll-behavior: smooth;

    @media screen and (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: var(--neutral-900);
    background: var(--neutral-200);
}

:root {
    @media only screen and (min-width: 426px) {
        --side-padding: 8vw;
    }

    @media only screen and (min-width: 769px) {
        --side-padding: 10vw;
    }

    @media only screen and (min-width: 1025px) {
        --side-padding: 15vw;
    }

    @media only screen and (min-width: 1441px) {
        --side-padding: 20vw;
    }

    @media only screen and (min-width: 2000px) {
        --side-padding: 30vw;
    }
}

section {
    padding-top: 70px;
    padding-right: var(--side-padding);
    padding-left: var(--side-padding);
    &:last-child {
        padding-bottom: 60px;
    }

    @media only screen and (min-width: 426px) {
        padding-top: 90px;
    }

    @media only screen and (min-width: 769px) {
        padding-top: 120px;
        &:last-child {
            padding-bottom: 120px;
        }
    }
}

h1 {
    font-size: clamp(3em, 10vw, 4.5em);
}

h2 {
    font-size: clamp(2.25em, 7vw, 3em);
    margin: 0 0 32px;
    text-align: center;
    @media only screen and (min-width: 426px) {
        text-align: left;
    }
}

h3 {
    font-size: clamp(1.875em, 4.5vw, 2em);
    margin: 16px 0;
    @media only screen and (min-width: 426px) {
        margin-bottom: 24px;
    }
}

p,
li {
    font-size: 1.125em;
}

h2,
h3 {
    color: var(--primary-400);
}

h1,
h2,
h3 {
    font-weight: 300;
    line-height: 150%;
}

p,
li {
    line-height: 150%;
}

button {
    cursor: pointer;
}
