$font-body: "PT Sans", sans-serif;
$font-header: "Roboto Condensed", sans-serif;

html {
    scroll-behavior: smooth;

    @media screen and (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}

body {
    font-family: $font-body;
    margin: 0;
    color: var(--text);
    background: var(--background);
}

:root {
    @media only screen and (min-width: 426px) {
        --side-padding: 8vw;
    }

    @media only screen and (min-width: 769px) {
        --side-padding: 10vw;
    }

    @media only screen and (min-width: 1025px) {
        --side-padding: 15vw;
    }

    @media only screen and (min-width: 1441px) {
        --side-padding: 20vw;
    }

    @media only screen and (min-width: 2000px) {
        --side-padding: 30vw;
    }
}

section {
    padding-top: 36px;
    padding-bottom: 72px;
    &:last-child {
        padding-bottom: 60px;
    }
}

h1,
h2,
h3 {
    font-family: $font-header;
    font-weight: 300;
    line-height: 150%;
}

h1 {
    font-size: clamp(5em, 10vw, 6em);
}

h2 {
    font-size: 3em;
    position: relative;
    margin: 0 0 32px;
    &::before {
        position: absolute;
        top: -16px;
        left: 0;
        display: block;
        width: 50%;
        height: 4px;
        content: "";
        border-radius: 4px;
        background-color: var(--primary);
        background-image: $gradient;
        @media only screen and (min-width: 600px) {
            width: 33%;
        }

        @media only screen and (min-width: 769px) {
            width: 25%;
        }
    }
}

h3 {
    font-size: 4.5em;
    margin: 16px 0;
    @media only screen and (min-width: 426px) {
        margin-bottom: 24px;
    }
}

p,
li {
    font-size: 1.125em;
    line-height: 150%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text);
}

main {
    padding: 0 var(--side-padding) 72px var(--side-padding);
}
