$font-body: "PT Sans", sans-serif;
$font-header: "Roboto Condensed", sans-serif;

html {
    scroll-behavior: smooth;

    @media screen and (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}

body {
    font-family: $font-body;
    margin: 0;
    color: var(--text);
    background: var(--background);
}

:root {
    @media only screen and (min-width: 426px) {
        --side-padding: 8vw;
    }

    @media only screen and (min-width: 769px) {
        --side-padding: 10vw;
    }

    @media only screen and (min-width: 1025px) {
        --side-padding: 15vw;
    }

    @media only screen and (min-width: 1441px) {
        --side-padding: 20vw;
    }

    @media only screen and (min-width: 2000px) {
        --side-padding: 30vw;
    }
}

section {
    padding-top: 70px;
    &:last-child {
        padding-bottom: 60px;
    }

    @media only screen and (min-width: 426px) {
        padding-top: 90px;
    }

    @media only screen and (min-width: 769px) {
        padding-top: 120px;
        &:last-child {
            padding-bottom: 120px;
        }
    }
}

h1,
h2,
h3 {
    font-family: $font-header;
    font-weight: 300;
    line-height: 150%;
}

h1 {
    font-size: clamp(5em, 10vw, 6em);
}

h2 {
    font-size: clamp(3.75em, 7vw, 6em);
    margin: 0 0 32px;
    text-align: center;
    @media only screen and (min-width: 426px) {
        text-align: left;
    }
}

h3 {
    font-size: clamp(1.875em, 4.5vw, 2em);
    margin: 16px 0;
    @media only screen and (min-width: 426px) {
        margin-bottom: 24px;
    }
}

p,
li {
    font-size: 1.125em;
    line-height: 150%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text);
}

main {
    padding: 0 var(--side-padding) 72px var(--side-padding);
}
