$landscape-height: 580px;

.title-container {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    h1 {
        margin: 0 0 18px;
        text-align: center;
    }
    p {
        font-weight: 300;
        margin: 0;
        text-align: center;
    }

    @media only screen and (min-width: 426px) {
        h1,
        p {
            text-align: left;
        }
    }
}

.icon-link {
    position: relative;
    bottom: 0;
    width: 32px;
    height: 32px;
    transition: bottom 0.3s ease-in;
    &:hover {
        bottom: 2px;
    }

    &:active {
        bottom: -2px;
    }

    img {
        width: 32px;
        height: 32px;
    }
}

.arrow-link {
    position: absolute;
    bottom: 39px;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    transition: transform 0.3s linear, box-shadow 0.3s linear,
        background-color 0.2s linear;
    border-radius: 50%;
    background-color: var(--neutral-300);
    background-image: url("../../assets/icon-down-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
        transform: translateY(-3px);
        background-color: var(--neutral-400);
        box-shadow: 0 4px 7px var(--neutral-100);
    }
    &:active {
        transform: translateY(3px);
        background-color: var(--neutral-200);
        box-shadow: inset 0 4px 7px var(--neutral-100);
    }

    @media only screen and (max-height: $landscape-height) and (orientation: landscape) {
        bottom: 24px;
    }
}

.intro {
    &__body {
        max-width: 70ch;
        margin: 0 auto;
        text-align: center;
    }

    @media only screen and (min-width: 426px) {
        &__body {
            text-align: left;
        }
    }
}

.button-link {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 12px 48px;
    transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in,
        backdrop-filter 0.3s ease-in, bottom 0.2s ease-in;
    text-align: center;
    text-decoration: none;
    color: var(--neutral-900);
    border: 1px solid var(--neutral-900);
    background-color: transparent;
    &:hover {
        bottom: 2px;
        background-color: var(--neutral-400);
        box-shadow: 0 4px 4px #7f7f7f3d;
        backdrop-filter: blur(9px);
    }

    &:active {
        bottom: -2px;
        background-color: var(--neutral-300);
        box-shadow: inset 0 4px 4px var(--neutral-200);
    }
}

.category-button {
    font-family: "Roboto", sans-serif;
    font-size: 1.555em;
    font-weight: 300;
    padding: 0 12px 4px;
    transition: border-color 0.2s linear, background-color 0.2s linear,
        color 0.2s linear;
    color: var(--neutral-900);
    border: 0;
    border: 2px solid transparent;
    border-radius: 2px;
    background-color: transparent;
    &--active {
        border-bottom-color: var(--primary-400);
    }

    &:hover {
        border-color: var(--primary-400);
    }

    &:active {
        color: var(--neutral-100);
        background-color: var(--primary-400);
    }
}

.project {
    display: grid;
    width: 100%;
    margin-bottom: 38px;
    &:last-child {
        margin-bottom: 0;
    }

    &__image {
        width: 100%;
        height: 134px;
        margin-bottom: 16px;
        border-radius: 12px;
        object-fit: cover;
    }

    &__heading {
        margin: 0 0 8px;
    }

    &__date {
        margin: 0 0 16px;
        text-align: left;
    }

    &__divider {
        width: 100%;
        height: 1px;
        margin-bottom: 16px;
        border-radius: 2px;
        background-color: var(--neutral-500);
    }

    &__description {
        margin: 0 0 24px;
    }

    &__links {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        > *:first-child {
            margin-bottom: 16px;
        }

        > * {
            width: 50%;
        }
    }

    @media only screen and (min-width: 600px) {
        margin-bottom: 64px;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(5, auto);
        column-gap: 32px;
        &__image {
            max-width: 200px;
            height: 100%;
            margin: 0;
            grid-row: 1 / 4;
            grid-column: 1;
        }

        &__heading {
            margin-bottom: 16px;
            grid-row: 1;
            grid-column: 2;
        }

        &__date {
            margin-bottom: 16px;
            grid-row: 2;
            grid-column: 2;
        }

        &__divider {
            align-self: end;
            margin-bottom: 0;
            grid-row: 3;
            grid-column: 2;
        }

        &__description {
            margin-top: 24px;
            grid-row: 4;
            grid-column: 1 / -1;
        }

        &__links {
            align-items: stretch;
            flex-direction: row;
            justify-content: center;
            grid-row: 5;
            grid-column: 1 / -1;
            > *:first-child {
                margin: 0 24px 0 0;
            }

            > * {
                width: fit-content;
            }
        }
    }

    @media only screen and (min-width: 1025px) {
        margin-bottom: 64px;
        &__image {
            max-width: 280px;
            height: 100%;
            margin: 0;
            grid-row: 1 / -1;
        }

        &__heading {
            margin-bottom: 8px;
            grid-row: 1;
            grid-column: 2;
        }

        &__date {
            margin-bottom: 12px;
            grid-row: 2;
            grid-column: 2;
        }

        &__divider {
            margin-bottom: 12px;
            grid-row: 3;
            grid-column: 2;
        }

        &__description {
            margin-top: 0;
            margin-bottom: 24px;
            grid-row: 4;
            grid-column: 2;
        }

        &__links {
            grid-row: 5;
            grid-column: 2;
        }
    }
}

.skills-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        display: flex;
        align-items: center;
        height: fit-content;
        margin: 0 32px 28px 0;
        border-radius: 20px;
        img {
            width: 28px;
            height: 28px;
            margin-right: 12px;
        }

        &:last-child {
            margin: 0;
        }
    }

    @media only screen and (min-width: 1025px) {
        display: grid;
        justify-content: space-between;
        max-width: 608px;
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: auto;
        grid-auto-flow: row;
        row-gap: 30px;
        li {
            width: fit-content;
            margin: 0;
        }
    }
}
