.skip-link {
    position: fixed;
    z-index: 9;
    top: -25px;
    left: 0;
    transition: transform 0.3s ease-out;
    transition-delay: 2s;
    background-color: var(--background);
    &:focus {
        transition-delay: 0s;
        transform: translateY(25px);
    }
}

.bg-graphic {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    pointer-events: none;
    overflow: hidden;
    width: 70vw;
    height: 100vh;
    border: 1px solid red;

    &__item {
        position: absolute;
        background-image: url("../../assets/bg-graphic-mobile.svg");
        background-size: 100% 52px;
        background-position: bottom;
        opacity: 0.25;
        width: 700px;
        height: 700px;
    }

    &__one {
        transform: rotateZ(45deg);
        top: -489px;
        left: 12vw;
    }

    &__two {
        transform: rotateZ(135deg);
        top: -475px;
        left: 13vw;
        border-bottom-right-radius: 70%;
    }

    @media only screen and (min-width: 600px) {
        &__item {
            background-image: url("../../assets/bg-graphic-tablet.svg");
            width: 1400px;
            height: 1400px;
        }
    }
}

.logo {
    width: 45px;
    height: 45px;
}

.icon {
    width: 40px;
    height: 40px;
}

.underline-link {
    position: relative;
    transition: color 0.3s ease-out;
    text-align: center;
    &::after {
        position: absolute;
        bottom: -2px;
        left: 50%;
        display: block;
        width: 110%;
        height: 2px;
        content: "";
        transition: transform 0.3s ease-out, background-color 0.3s ease-out;
        transform: translateX(-50%) scaleX(0);
        border-radius: 4px;
        background-color: white;
        background-image: $gradient;
    }

    &:hover {
        &::after {
            transform: translateX(-50%) scaleX(1);
        }
    }

    &:active {
        &::after {
            transform: translateX(-50%) scaleX(1);
            background-color: var(--primary);
            background-image: none;
        }
    }
}
