.skip-link {
    position: fixed;
    z-index: 9;
    top: -25px;
    left: 0;
    transition: transform 0.3s ease-out;
    transition-delay: 2s;
    background-color: var(--background);
    &:focus {
        transition-delay: 0s;
        transform: translateY(25px);
    }
}

.logo {
    width: 45px;
    height: 45px;
}

.icon {
    width: 40px;
    height: 40px;
}

.underline-link {
    position: relative;
    transition: color 0.3s ease-out;
    text-align: center;
    &::after {
        position: absolute;
        bottom: -2px;
        left: 50%;
        display: block;
        width: 110%;
        height: 2px;
        content: "";
        transition: transform 0.3s ease-out;
        transform: translateX(-50%) scaleX(0);
        border-radius: 4px;
        background-color: white;
        background-image: $gradient;
    }

    &:hover {
        &::after {
            transform: translateX(-50%) scaleX(1);
        }
    }

    &:active {
        color: var(--primary);
        &::after {
            transform: translateX(-50%) scaleX(1);
            background-color: var(--primary);
            background-image: none;
        }
    }
}
