.header {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    display: grid;
    box-sizing: border-box;
    width: 100%;
    padding: 40px var(--side-padding) 16px var(--side-padding);
    background-color: var(--background);
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 16px;
    &__logo {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
    }

    &__github {
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
    }

    &__behance {
        grid-row: 1;
        grid-column: 3;
        justify-self: end;
    }

    &__nav {
        display: flex;
        align-items: center;
        grid-row: 2;
        grid-column: 1 / -1;
    }

    &__nav-ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    @media screen and (min-width: 600px) {
        align-content: center;
        height: 78px;
        padding-top: 16px;
        grid-template-rows: auto;
        grid-template-columns: auto 1fr auto auto;
        &__github {
            margin-right: 24px;
            grid-column: 3;
        }

        &__behance {
            grid-column: 4;
        }

        &__nav {
            grid-row: 1;
            grid-column: 2;
        }

        &__nav-ul {
            justify-content: center;
            gap: 24px;
        }
    }

    @media screen and (min-width: 769px) {
        &__github {
            margin-right: 50px;
        }

        &__nav-ul {
            gap: 24px;
        }
    }
}
