.intro {
    display: flex;
    flex-direction: column;
    padding: 174px 0 32px 0;
    text-align: center;
    gap: 24px;
    h1 {
        position: relative;
        margin: 0;
        &::after {
            position: absolute;
            bottom: -2px;
            left: 50%;
            display: block;
            width: 100%;
            height: 4px;
            content: "";
            transform: translateX(-50%);
            border-radius: 4px;
            background-color: var(--primary);
            background-image: $gradient;
        }
    }

    p {
        margin: 0;
    }

    @media only screen and (min-width: 600px) {
        h1,
        p {
            max-width: 550px;
            text-align: left;
        }
    }
}