.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 830px;
    margin: 0 auto;
}
