.title-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
}

.projects-section {
    @media only screen and (min-width: 1440px) {
        --side-padding: 10vw;
    }
}
