$tablet-size: 700px; // Dev projects change to two columns
$desktop-size: 1440px; // Dev projects change to three columns, design projects to two
$project-color-primary: #4acafd66;
$project-color-secondary: #b7a2fb66;
$project-color-tertiary: #ff729f66;

.project-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap: 16px;
    &--dev {
        @media only screen and (min-width: $tablet-size) {
            grid-template-columns: 1fr 1fr;
        }

        @media only screen and (min-width: $desktop-size) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &--design {
        @media only screen and (min-width: $desktop-size) {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.project {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(
        90deg,
        $project-color-primary 0%,
        $project-color-secondary 50%,
        $project-color-tertiary 100%
    );
    &__image {
        width: 100%;
        height: 175px;
        object-fit: cover;
        @media only screen and (min-width: $tablet-size) {
            width: 40%;
            height: 100%;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 24px;
        text-align: center;
        gap: 16px;
        @media only screen and (min-width: $tablet-size) {
            text-align: left;
        }
    }

    &__heading {
        width: 100%;
        margin: 0;
    }

    &__desc {
        flex-grow: 1;
        margin: 0;
    }

    &__tags-list {
        font-family: $font-header;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        column-gap: 24px;
        row-gap: 12px;
        li {
            font-size: 1em;
        }
    }

    &__links {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        gap: 48px;
        img {
            width: 36px;
            height: 36px;
        }
    }

    &--design {
        @media only screen and (min-width: $tablet-size) {
            flex-direction: row;
        }
    }

    // Background gradient for dev projects
    &--dev {
        @media only screen and (min-width: $tablet-size) {
            &:nth-of-type(odd) {
                background: linear-gradient(
                    90deg,
                    $project-color-primary 0%,
                    $project-color-secondary 100%
                );
            }

            &:nth-of-type(even) {
                background: linear-gradient(
                    90deg,
                    $project-color-secondary 0%,
                    $project-color-tertiary 100%
                );
            }
        }

        @media only screen and (min-width: $desktop-size) {
            &:nth-of-type(3n + 1) {
                background: linear-gradient(
                    90deg,
                    $project-color-primary 0%,
                    #7db8ff66 100%
                );
            }

            &:nth-of-type(3n + 2) {
                background: linear-gradient(
                    90deg,
                    #7db8ff66 0%,
                    #e588d866 100%
                );
            }

            &:nth-of-type(3n + 3) {
                background: linear-gradient(
                    90deg,
                    #e588d866 0%,
                    $project-color-tertiary 100%
                );
            }
        }
    }

    // Background gradient for design projects
    &--design {
        @media only screen and (min-width: $desktop-size) {
            background: linear-gradient(
                90deg,
                $project-color-primary 0%,
                $project-color-secondary 100%
            );

            &:nth-of-type(even) {
                background: linear-gradient(
                    90deg,
                    $project-color-secondary 0%,
                    $project-color-tertiary 100%
                );
            }
        }
    }
}
