.project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 16px;
}

.project,
.project--design__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.project {
    padding: 24px;
    text-align: center;
    border-radius: 16px;
    background-color: gray;
    &__heading {
        margin-top: 8px;
        margin-bottom: 0;
    }

    &__desc {
        margin: 0;
    }

    &__links {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        gap: 48px;
        img {
            width: 36px;
            height: 36px;
        }
    }

    &--dev {
        &__tags-list {
            font-family: $font-header;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 24px;
            row-gap: 12px;
            li {
                font-size: 1em;
            }
        }
    }

    &--design {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        &__image {
            width: 100%;
            height: 175px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            object-fit: cover;
        }

        &__body {
            padding-right: 24px;
            padding-left: 24px;
            gap: 16px;
        }
    }
}
