:root {
    --side-padding: 5vw;
    --primary: #4acafd;
    --secondary: #8c95ff;
    --tertiary: #ff729f;
    --background: #2d2d2d;
    --text: #f5f5f5;
}

$gradient: linear-gradient(90deg, #4acafd 0%, #b7a2fb 51.04%, #ff729f 100%);

@import "base";
@import "layout";
@import "header";
@import "intro";
@import "components";
@import "utility";
