:root {
    --side-padding: 5vw;
    --primary: #4acafd;
    --secondary: #8c95ff;
    --tertiary: #ff729f;
    --background: #2d2d2d;
    --text: #f5f5f5;
}

$font-body: "PT Sans", sans-serif;
$font-header: "Roboto Condensed", sans-serif;
$gradient: linear-gradient(90deg, #4acafd 0%, #b7a2fb 50%, #ff729f 100%);

@import "base";
@import "header";
@import "intro";
@import "skills";
@import "projects";
@import "components";
@import "utility";
