:root {
    --primary-400: #2fb2d0;
    --neutral-100: #121212;
    --neutral-200: #242424;
    --neutral-300: #404040;
    --neutral-400: #636363;
    --neutral-500: #7E7E7E;
    --neutral-600: #9A9A9A;
    --neutral-700: #B5B5B5;
    --neutral-800: #D0D0D0;
    --neutral-900: #EBEBEB;
    --side-padding: 5vw;
}

@import "base";
@import "layout";
@import "components";
@import "utility";
